{% extends "base.html" %}

{% block content %}
  <h1>
    TODO list
    <a href="{% url 'app:task-create' %}" class="btn btn-primary link-to-page">
      Add task
    </a>
  </h1>
  {% if task_list %}
    <ul>
      {% for task in task_list %}
        <li>
          <p style="font-size: large">
            <strong>{{ task.content }}
              {% if task.status %}
                <span style="color: green">Done</span>
                <a href="{% url 'app:task-status' pk=task.id %}" class="btn btn-secondary link-to-page">
                  Undo
                </a>
              {% else %}
                <span style="color: red">Not done</span>
                <a href="{% url 'app:task-status' pk=task.id %}" class="btn btn-success link-to-page">
                  Complete
                </a>
              {% endif %}

            </strong></p>
          <p style="font-size: small">Created: {{ task.created_at }}
            {% if task.deadline %}
              <span style="color: brown">Deadline: {{ task.deadline }}</span>
            {% endif %}
          </p>
          <p style="color: gray"> Tags:
            {% for tag in task.tag.all %}
              {{ tag.name }}
            {% endfor %}
            <a href="{% url 'app:task-update' pk=task.id %}">
              Update
            </a>
            <a style="color: red"
               href="{% url 'app:task-delete' pk=task.id %}">
              Delete
            </a>
          <hr>
          </p>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no task</p>
  {% endif %}
{% endblock %}
